env/
db.sqlite3
migrations/
*.ipynb
*.pyc
static/

# pycharm folder
.idea/

debby/debby/bot_settings\.py

# for celery-beat
debby/celerybeat-schedule
debby/celerybeat\.pid
debby/django
# folder for all media 
media/
# files
*.xlsx

debby/debby/settings\.env
